html {
  background-color:#f2f2f2;
  min-width: 900px;
  font-family: 'Poppins', sans-serif;
}

#top {
  display: flex;
  flex-direction: row;
  max-height: 520px;
  min-height: 500px;
  max-width: 1400px;
  padding-left: 15px;
  padding-bottom:0px;
}

#app {
  display: inline-block;
  position: relative;
}

#photos-home {
  display: inline-block;
  margin-bottom: 16px;
}

div.App__Background-sc-1yy6cbu-0.eHJVFS {
  height: 0px;
}

div.Albums__Container-f4lswq-0.kpLbJK {
  width: 230px;
}

div.App__Outer-sc-1yy6cbu-1.ZoPAK {
  margin: 0px;
}

div.App__Container-sc-1yy6cbu-2.egYcud {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Photos pictures on right - styled components class changes */
.sc-AxjAm.viAxi,
.sc-AxjAm.bLifsr,
.sc-AxjAm.cutPKF {
  height: 157.5px;
}

div.App__Container-sc-1yy6cbu-2.egYcud {
  padding-top: 1px;
}

div.sc-fznNvL.jRyzVK {
  height: 492px;
}

#modal .box-dialog {
  position: fixed;
  top: 30%;
  left: 78px;
  width: 700px;
}

/* About wrapper - styled components class changes */
div.App__AppWrapper-sc-17y3snd-1.jPcUFR {
  padding: 38px;
  margin-left: 0px;
  height: 800px;
  border: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 57px;
  width: 715px;
}

.App__AppWrapper-sc-17y3snd-1.jPcUFR h2 {
  font-size: 40px;
  border-bottom: 2px solid #e0e0e0;
}

#about {
  padding: 0px 12px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  width: 800px;
}

.sc-AxiKw.bhVPOm .app {
  border: none;
  padding-left: 3px;
  padding-top: 3px;
  margin-top: 0px;
}